<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://192.168.32.33:5432/sigadb</property>
    <property name="hibernate.connection.username">siga%admin</property>
    <property name="hibernate.connection.password">siga%admin</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="org/siga/be/Categoria.hbm.xml"/>
    <mapping resource="org/siga/be/Marca.hbm.xml"/>
    <mapping resource="org/siga/be/UnidadMedida.hbm.xml"/>
    <mapping resource="org/siga/be/Producto.hbm.xml"/>
    <mapping resource="org/siga/be/Almacen.hbm.xml"/>
    <mapping resource="org/siga/be/Proveedor.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
